scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/rodrigo-luz-test
        create path (nt:unstructured) /content/dam/rodrigo-luz-test/jcr:content
        set properties on /content/dam/rodrigo-luz-test/jcr:content
        set cq:conf{String} to /conf/rodrigo-luz-test
        set jcr:title{String} to \"Rodrigo Luz Test\"
        end
        "
]
